<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="Beach.css">
        <title>SurfSpot</title>
    </head>
    <body onload="loadWeather(); loadBreaks();">

        <div class ="container">

            <div class ="row">
                <div class ="col-md-10 text-center border border-light" id ="site-name-header">THE SURF SPOT</div>
                <div class ="col-md-1"></div>
                <div class ="col-md-1 text-center border border-light" id = "nav-tool"><h3>Nav Tool</h3></div>
            </div>

            <br>

            <div class = "row">

                <div class ="col-md-3 text-center border border-light" id="beach-dropdown">
                    <div class="col-9">
                        <select id="beach" name="beachId" class="form-control" >
                            <a class="dropdown-item" href="#">
                                <option th:each="beach : ${allBeaches}" 
                                        th:value="${beach.id}" 
                                        th:text="${beach.name}"></a>
                            </option>
                        </select>
                    </div>

                    <p><a href="#" th:href="@{/beach(id=303)}">Go!</a></p>


                </div>



                <div class ="col-md-1"></div>
                <div class ="col-md-8 text-center border border-light" id="beach-name">

                    <h3 th:text="${selectedBeach.name}"/>

                </div>

            </div>

            <br>

            <div class ="row">
                <div class ="col-md-1"></div>
                <div class ="col-md-10 text-center border border-light" id = "weather">
                    <h1>Current Weather</h1>
                </div>
                <div class ="col-md-1"></div>
            </div>

            <br>

            <div class ="row" id = "breaks">
                
            </div>

            <br>

            <div class ="row">
                <div class ="col-md-1"></div>
                <div class ="col-md-10 text-center border border-light"><h1>User Comments Section</h1></div>
                <div class ="col-md-1"></div>
            </div>

            <br>

            <div class="col-md-6">
                <button type="button" id="test-button" class="btn btn-default">
                    Button 1
                </button>
            </div>

            <br>

            <div class="col-md-6">
                <button type="button" id="test-button-2" class="btn btn-default">
                    Button 2
                </button>
            </div>



            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

            <script th:inline="javascript">

                $('#test-button').click(function (event){

                $.ajax ({
                type: 'GET',
                url: 'https://api.openweathermap.org/data/2.5/weather?zip=55417,us&appid=5f90b0cc3c4bf2cbea8cb5afc7d4eb2b',
                success: function (data, status) {

                var description = data.weather[0].description;
                var temp = data.main.temp;
                var celsius = temp - 272.15;
                var icon = data.weather[0].icon;
                var sunriseMill = data.sys.sunrise;
                var dateSunrise = new Date(sunriseMill * 1000);
                var realSunrise = dateSunrise.toLocaleTimeString();
                var sunsetMill = data.sys.sunset;
                var dateSunset = new Date(sunsetMill * 1000);
                var realSunset = dateSunset.toLocaleTimeString();

                $('#weather').append("<p>"+ description +"</p>");
                $('#weather').append("<p><img src=http://openweathermap.org/img/w/" + icon + ".png></img></p>");
                $('#weather').append("<p> Fahrenheit: "+ Math.round(((celsius*(9/5))+32)) +"°</p>");
                $('#weather').append("<p> Sunrise: "+ realSunrise +"</p>");
                $('#weather').append("<p> Sunset: "+ realSunset +"</p>");
                },
                error: function() {
                $('#errorMessages')
                .append($('<li>')
                .attr({class: 'list-group-item list-group-item-danger'})
                .text('Error calling web service.  Please try again later.'));
                }
                });

                });

            </script>

            <script th:inline="javascript">

                $('#test-button-2').click(function (event) {



                $('#weather').append("<p> This has been created </p>");
                $('#weather').append("<p> This has been appended </p>");

                });
            </script>

            <script th:inline="javascript">

                function loadWeather(){
                $.ajax ({
                type: 'GET',
                url: 'https://api.openweathermap.org/data/2.5/weather?zip=55417,us&appid=5f90b0cc3c4bf2cbea8cb5afc7d4eb2b',
                success: function (data, status) {

                var description = data.weather[0].description;
                var temp = data.main.temp;
                var celsius = temp - 272.15;
                var icon = data.weather[0].icon;
                var sunriseMill = data.sys.sunrise;
                var dateSunrise = new Date(sunriseMill * 1000);
                var realSunrise = dateSunrise.toLocaleTimeString();
                var sunsetMill = data.sys.sunset;
                var dateSunset = new Date(sunsetMill * 1000);
                var realSunset = dateSunset.toLocaleTimeString();

                $('#weather').append("<p>"+ description +"</p>");
                $('#weather').append("<p><img src=http://openweathermap.org/img/w/" + icon + ".png></img></p>");
                $('#weather').append("<p> Fahrenheit: "+ Math.round(((celsius*(9/5))+32)) +"°</p>");
                $('#weather').append("<p> Sunrise: "+ realSunrise +"</p>");
                $('#weather').append("<p> Sunset: "+ realSunset +"</p>");
                },
                error: function() {
                $('#errorMessages')
                .append($('<li>')
                .attr({class: 'list-group-item list-group-item-danger'})
                .text('Error calling web service.  Please try again later.'));
                }
                });
                }

            </script>

            <script>

                $(document).ready(function(){
                $('#beach-dropdown').on('change', function() {

                alert($(this).find('option:selected').val());
                alert($('#beach-dropdown').find('option:selected').val());


                })
                })

            </script>

            <script th:inline="javascript">

                function loadBreaks(){

                /*<![CDATA[*/

                var allBreaksForBeach = /*[[${allBreaksForBeach}]]*/ 'default';

                /*]]>*/


                for (var i = 0; i < allBreaksForBeach.length; i++) {

                var breakId = allBreaksForBeach[i].id;
                var breakName = allBreaksForBeach[i].name;

                var div = '<div class ="col-md-3 text-center border border-light">';
                div += '<h1>' + breakName + '</h1>';
                div += '<input type="hidden" id =' + breakId + '</>';
                div += '</div>';
                

                $('#breaks').append(div);
                

                }

                }

            </script>



    </body>

    <footer>

    </footer>

</html>