<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


        <link rel="stylesheet" href="css/Beach.css">


        <title>SurfSpot</title>
    </head>
    <body onload="loadBeachComments(); loadDefaultValues();">

        <div class ="container">

            <div class ="row">
                <div class ="col-md-10 text-center border border-light" id ="site-name-header">THE SURF SPOT</div>
                <div class ="col-md-1"></div>
                <div class ="col-md-1 text-center border border-light" id = "nav-tool"><h3>Nav Tool</h3></div>
                Username:&nbsp;<span th:text="${#authentication.getPrincipal().getUsername()}" id = "username"></span>

            </div>

            <br>

            <div class = "row">

                <div class ="col-md-3 text-center border border-light" id="beach-dropdown">
                    <div class="col-9">
                        <select id="beach" name="beachId" class="form-control" >
                            <a class="dropdown-item" href="#">
                                <option th:each="beach : ${allBeaches}" 
                                        th:value="${beach.id}" 
                                        th:text="${beach.name}"></a>
                            </option>

                        </select>
                    </div>

                    <!--<p id = "beachLink"><a href="#" th:href="@{/beach(id=${beach.id})}">Go!</a></p>-->

                    <!--This works: alert($('#beach-dropdown').find('option:selected').val());-->

                    <!--This kinda works: <p id = "beachLink"><a href="#" th:href="@{/beach(id=IDVALUE)}">Go!</a></p>-->
                    <!--This works: <p id = "beachLink"><a href="#" th:href="@{/beach(id=301)}">Go!</a></p>-->
                    <!--<a href="#" th:href="@{/beach(id=${beach.id})}">Go!</a>-->
                    <p id = "beachId"></p>
                </div>



                <div class ="col-md-1"></div>
                <div class ="col-md-8 text-center border border-light" id ="beach-name">

                    <!--<input type="text" name="selectedBeach" id="selectedBeach" 
                               class="form-control" th:value="${selectedBeach.name}"/>-->

                </div>

            </div>

            <br>

            <div class ="row">
                <div class ="col-md-1"></div>
                <div class ="col-md-10 text-center border border-light" id = "weather">
                    <h1>Current Weather</h1>
                </div>
                <div class ="col-md-1"></div>
            </div>

            <br>

            <div class ="row" id = "breaks">

            </div>

            <br>

            <div class ="row">
                <div class ="col-md-1"></div>
                <div class ="col-md-10 text-center border border-light" id = "beach-user-comments">

                    <h1>User Comments Section</h1>



                    <div class="row m-4">
                        <div class="col-7 text-center m-3">
                            <form action="addBeachComment" method="POST">

                                <div class="form-group row">
                                    <label for="commentText" class="col-3 col-form-label">
                                        Comment</label>
                                    <textarea class ="form-control" name ="commentText" id="commentText" rows="3">

                                    </textarea>
                                </div>

                                <button type="submit" class="btn btn-primary">Add Comment!</button>
                            </form>
                        </div>
                    </div>

                </div>
                <div class ="col-md-1"></div>
            </div>

            <br>

            <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

            <!--<script type="text/javascript" src="Beach.js"></script>-->



            <script th:inline="javascript">

        function loadWeather(beachZip) {

            $('#weather').html("");

            $.ajax({
                type: 'GET',
                url: 'https://api.openweathermap.org/data/2.5/weather?zip=' + beachZip + ',us&appid=5f90b0cc3c4bf2cbea8cb5afc7d4eb2b',
                success: function (data, status) {

                    var description = data.weather[0].description;
                    var temp = data.main.temp;
                    var celsius = temp - 272.15;
                    var icon = data.weather[0].icon;
                    var sunriseMill = data.sys.sunrise;
                    var dateSunrise = new Date(sunriseMill * 1000);
                    var realSunrise = dateSunrise.toLocaleTimeString();
                    var sunsetMill = data.sys.sunset;
                    var dateSunset = new Date(sunsetMill * 1000);
                    var realSunset = dateSunset.toLocaleTimeString();

                    $('#weather').append("<p>" + description + "</p>");
                    $('#weather').append("<p><img src=http://openweathermap.org/img/w/" + icon + ".png></img></p>");
                    $('#weather').append("<p> Fahrenheit: " + Math.round(((celsius * (9 / 5)) + 32)) + "°</p>");
                    $('#weather').append("<p> Sunrise: " + realSunrise + "</p>");
                    $('#weather').append("<p> Sunset: " + realSunset + "</p>");
                },
                error: function () {
                    $('#errorMessages')
                            .append($('<li>')
                                    .attr({class: 'list-group-item list-group-item-danger'})
                                    .text('Error calling web service.  Please try again later.'));
                }
            });
        }

            </script>

            <script>

                $(document).ready(function () {
                    $('#beach-dropdown').on('change', function () {

                        updateBeachName();
                        updateBreaks();
                    })
                })

            </script>


            <script th:inline="javascript">

                function updateBeachName() {

                    var beachId = $('#beach-dropdown').find('option:selected').val();

                    var url = 'http://localhost:8080/beach/' + beachId;

                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (data, status) {

                            $('#beach-name').html("<h3>" + data.name + "</h3>");
                            loadWeather(data.zipCode);

                        },
                        error: function () {
                            $('#errorMessages')
                                    .append($('<li>')
                                            .attr({class: 'list-group-item list-group-item-danger'})
                                            .text('Error calling web service.  Please try again later.'));
                        }
                    });

                }

            </script>


            <script th:inline="javascript">

                function updateBreaks() {

                    var beachId = $('#beach-dropdown').find('option:selected').val();

                    var url = 'http://localhost:8080/beach/beachBreaks/' + beachId;

                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (breakArray) {

                            $('#breaks').html("");
                            $.each(breakArray, function (index, beachBreak) {

                                var breakId = beachBreak.id;
                                var breakName = beachBreak.name;
                                
                                breakDivs = '<div class ="col-md-3 text-center border border-light" onclick="navigateToBreak();">';
                                breakDivs += '<h1>' + breakName + '</h1>';
                                breakDivs += '<input type="hidden" id =' + breakId + '</>';
                                breakDivs += '</div>';
                                
                                var testLink = '<a href = "break?id=801">' + breakDivs + '</a>';
                                
                                
                                
                                
                                $('#breaks').append(testLink);
                            })

                        },

                        error: function () {
                            $('#errorMessages')
                                    .append($('<li>')
                                            .attr({class: 'list-group-item list-group-item-danger'})
                                            .text('Error calling web service.  Please try again later.'));
                        }

                    });

                }



            </script>

            <script th:inline="javascript">

                function loadDefaultValues() {

                    /*<![CDATA[*/

                    var allBreaksForBeach = /*[[${allBreaksForBeach}]]*/ 'default';
                    var selectedBeach = /*[[${selectedBeach}]]*/ 'default';

                    /*]]>*/


                    for (var i = 0; i < allBreaksForBeach.length; i++) {

                        var breakId = allBreaksForBeach[i].id;
                        var breakName = allBreaksForBeach[i].name;
                        var div = '<div class ="col-md-3 text-center border border-light">';
                        div += '<h1>' + breakName + '</h1>';
                        div += '<input type="hidden" id =' + breakId + '</>';
                        div += '</div>';
                        $('#breaks').append(div);
                    }


                    $('#beach-name').html("<h3>" + selectedBeach.name + "</h3>");

                    loadWeather(selectedBeach.zipCode);

                }

            </script>

            <script th:inline="javascript">

                function loadBeachComments() {

                    /*<![CDATA[*/

                    var beachComments = /*[[${beachComments}]]*/ 'default';
                    /*]]>*/


                    for (var i = 0; i < beachComments.length; i++) {

                        var beachCommentId = beachComments[i].id;
                        var beachCommentText = beachComments[i].commentText;
                        var beachCommentUser = beachComments[i].user.username;
                        var div = '<div class ="row-md-3 text-center border border-light">';
                        div += '<div class ="col-md-2">'
                        div += beachCommentUser
                        div += '</div>'
                        div += '<div class ="col-md-9">'
                        div += beachCommentText
                        div += '</div>'
                        div += '</div>';
                        $('#beach-user-comments').append(div);
                    }

                }

            </script>

            <script th:inline="javascript">

                function navigateToBreak() {

                    alert("The div has been clicked");
                    
                    
                    
                    
                    
                    
                    
                    

                }

            </script>

    </body>

    <footer>

    </footer>

</html>