<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <!--        <style>
                    .surf {
                        background-color: skyblue;
                        color: white;
                        margin: 20px;
                        padding: 20px;
                    }
                </style>-->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link type="text/css"rel="stylesheet" href="css/break.css"/>

        <title>SurfSpot</title>
    </head>
    <body>
        <!-- Main Body of Page -->
        <nav>
            <div class="logo">
                <h1><img src="Images/Logo1.jpg" height="100" width="100" />TheSurfSpot</h1>
            </div>
            <div class="row m-4">
                <div class="col text-center m-3">
                    <a href="/home" class="btn btn-outline-primary btn-lg button">Home</a>
                </div>
                <div class="col text-center m-3">
                    <a href="/beach" class="btn btn-outline-primary btn-lg button">Beaches</a>
                </div>
            </div>
        </nav>


        <div class="container ">
            <!--            <div class="row m-4">
                            <div class="col text-center border border-dark surf">
                                <h1><a href="" class="text-dark">Beach Breaks</a></h1>
                            </div>
                        </div>
                        <div class="row m-4 border border-dark">
                            <div class="col text-center m-3">
                                <a href="/home" class="btn btn-outline-primary btn-lg">Home</a>
                            </div>
                            <div class="col text-center m-3">
                                <a href="/beach" class="btn btn-outline-primary btn-lg">Beaches</a>
                            </div>
                            <div class="col text-center m-3">
                                <a href="/break" class="btn btn-outline-primary btn-lg">Breaks</a>
                            </div>
                        </div>-->


            <div class = "row" >
                <div class ="col-md-4 text-center" id="break-dropdown">
                    <div class="col-9">
                        <select id="break" name="breakId" class="form-control" >
                            <a class="dropdown-item" href="#">
                                <option th:each="break : ${allBreaks}" 
                                        th:value="${break.id}" 
                                        th:text="${break.name}"
                                        th:selected="${selectedBreak.id}==${break.id}">
                                <input type="hidden" name="breakId" id="breakId" th:value="${break.id}"/>
                            </option>
                        </select>
                    </div>
                </div>

            <div class ="col-md-8 text-center" >
                <p id="breakName" th:text="${selectedBreak.name}"></p>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>latitude</th>
                            <th>longitude</th>
                        </tr>     
                    </thead>
                    <tbody>
                        <tr>
                            <td id="latitude" th:text="${selectedBreak.latitude}"></td>
                            <td id="longitude" th:text="${selectedBreak.longitude}"></td>
                        </tr>                    
                    </tbody>                     
                </table>
            </div>    
            <!--             
               <div class="col-md-4"></div> 
                            <div class="col-md-4" id="latitude"></div> 
                            <div class="col-md-4" id="longitude"></div> -->
        </div>

        <div>
            <p id="blogText" class="text-center" th:text="${selectedBreak.blog}"></p>
        </div>


        <div class="row m-4">
            <div class="col-7 text-center m-3">
                <form action="addBreakComment" method="POST">

                    <div class="form-group row">
                        <label for="commentText" class="col-3 col-form-label">
                            Comment</label>
                        <textarea class ="form-control" name ="commentText" id="commentText" rows="3">

                        </textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Comment!</button>
                </form>
            </div>
        </div>

        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>User</th>
                            <th>Comments</th>
                        </tr>     
                    </thead>
                    <tbody>
                        <tr th:each="breakComment : ${breakComments}" id="break-user-commentRow">
                            <td id="userId" th:text="${breakComment.id}"></td>
                            <td id="userName" th:text="${breakComment.user.username}"></td>
                            <td id="break-user-comments" 
                                th:text="${breakComment.commentText}"></td>
                        <tr></tr>
                        </tr>                    
                    </tbody>                     
                </table>
            </div>  
        </div> 


    </div>   


    <!-- End main body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/break.js"></script>
</body>
</html>


